@import  url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap);

h1 {
  text-align: center;
}
body {
  background-color: #106cdc;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight:400;
}
.white-box {
  background-color: #d5d9ff;
  color: #106cdc;
  margin: 40px 18%;
  padding: 5% 5% 5% 10%;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight:300;
}

#text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.trigger-transition {
  opacity: 0;
}

.random-quote { 
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
}
.random-author {
  font-size: 1.2em;
  text-align: right;
}
.button {
  background-color: #106cdc;
  color: #FFFFFF;
  border: none;
  float: left;
  margin: 15px 5px auto auto;
  padding: 5px 10px 5px 10px;
}
.button {
  opacity: 1;
}
.button:hover {
  opacity: 0.75;
}
.new-quote-button {
  float: right;
}
